.contact-list {
  padding-left: 0;
}
.contact-list-entry {
  list-style: none;
  height: 40px;
  cursor: pointer;
  padding: 4px 0;
}
.contact-list-entry:hover {
  background-color: rgba(126, 126, 126, 0.1);
}
.contact-icon div{
  width: 32px;
  height: 32px;
  /*background: rgba(46, 45, 45, 0.8);*/
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  padding-top: 2px;
}
.contact-info div {
  margin-top: 4px;
  vertical-align: middle;
  display: inline-block;
}
