.login_container {
  margin-top: 60px;
  width: 400px;
  height: auto;
  left: 50%;
  margin-left: -200px;
  position: relative;
}
#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,0.8) !important;
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,0.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  margin-right: 2%;
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-google{
  color: #fff;
  background-color:rgb(222, 74, 50);
}
.btn-google:hover{
  color: #fff;
  background-color:rgb(240, 70, 55);
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:0 none;
  }
}
#login_dropdown {
  /*background-color: rgb(59, 62, 60) !important;*/
}
#nav_signup_btn {
  /*background-color: rgb(59, 62, 60) !important;*/
}
