.sidebar-top {
  height: 50px;
  padding: 5px 15px;
  background-color: rgba(36, 36, 36, 0.5);
}
.sidebar-top input {
  margin-top: 6px;
  border-radius: 4px;
  border: none;
  outline: none;
  height: 28px;
  width: 210px;
  padding: 0 5px;
}
.sidebar-top input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.sidebar-main {
  background: rgba(126, 126, 126, 0.2);
<<<<<<< HEAD
=======
  height: 100vh;
>>>>>>> origin
  width: 100%;
  margin: 0px;
  padding: 15px 0;
  overflow: scroll;
}
.sidebar-bottom {
  bottom: 0;
  padding: 5px 15px;
  z-index: 200;
  height: 30px;
  width: 100%;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
}
.sidebar-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(240,95,64);
}
#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#wrapper.toggled {
    padding-right: 300px;
}

#sidebar-wrapper {
    z-index: 10;
    position: fixed;
    right: 300px;
    top: 0;
    width: 0;
    height: 100%;
    margin-right: -300px;
    overflow-y: auto;
    /*background-color: rgb(240,95,64);*/
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#wrapper.toggled #sidebar-wrapper {
    /*width: 250px;*/
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -300px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-right: 0;
    }

    #wrapper.toggled {
        padding-right: 300px;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 300px;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0;
    }
}
