* {
  font-family: 'Roboto', sans-serif;
}
.fix {
  position: fixed;
}

.container {
  width: 100%;
  padding: 0;
}
.start_project_btn {
  top: 50%;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  position: absolute;
}
.get-started {
  color: rgb(254, 254, 254);
  background-color: rgb(240, 95, 64);
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 15px;
  outline: none;
}
.get-started:hover {
  color: rgb(254, 254, 254);
  background-color: #ee4b28;
  outline: none;
}
.landing_page {
  height: 500px;
  background-image: url(/assets/the-team-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 100vh;*/
  text-align: center;
}
.project-main {
  margin-bottom: 20px;
}
.project-entry {
  padding: 0;
  box-shadow: 0 2px 6px -2px rgba(22, 22, 22, 0.45);
  height: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 2.5%;
  width: 30%;
}
.project-entry-info {
  padding: 10px;
  text-align: left;
}
.project-miniview {
  padding: 32px 15px;
  text-align: center;
}
.project-miniview-content {
  margin-top: 15px;
  margin-bottom: 40px;
  height: 100%;
}

.project-preview {
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: rgba(238, 238, 238, 0.5);
  display: block;
  overflow: scroll;
}
.project-content {
  height: 45vh;
  padding: 0 15px;
  margin: 0;
  border-radius: 0;
}
.project-content span {
  color: rgb(130, 130, 130);
  font-style: italic;
}
.project-content a {
  display: block;
}
.project-image {
  border-radius: 5px 5px 0 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.project-image img {
  margin-top: -56.25%;
  padding-top: 56.25%;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.thumbnails {
  text-align: center;
  cursor: pointer;
}
.thumbnails:before {
  width: 100%;
  display: block;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}
.thumbnails img {
  width: 100%;
}
.project-page {
  margin-top: 60px;
}
.project-page-left {
  width: 50%;
  margin-left: 12.5%;
}
.project-page-right {
  padding: 15px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
}
/* Profile Start */
.profile-container {
  margin-top: 50px;
}
.profile-top {
  padding: 15px;
  height: 328px;;
}
.profile-top span {
  display: block;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
}
.profile-tabs-container {
  margin-bottom: 30px;
}
.profile-tabs {
  display: flex;
  justify-content: center;
}
.profile-tabs-item .nav-link {
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(221, 221, 221);
  color: rgb(56, 121, 217);
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-right: 2px;
  line-height: 1.42857143;
  outline: none;
}
.profile-tabs-item .nav-link:hover {
  border: 1px solid rgb(240, 240, 240);
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid rgb(221, 221, 221);
  color: rgb(55, 92, 130);
}
.profile-tabs-item .nav-link.active {
  color: black;
  border: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  outline: none;
}
.profile-content {
  margin-bottom: 45px;
}
.profile-content-list {
  padding: 0;
}
/* Profile End*/
.list-entry {
  list-style: none;
  border: 1px solid rgb(221, 221, 221);
  margin: 20px 0;
}
.list-entry-container {
  height: 280px;
}
.list-image-container {
  background-color: rgb(0, 0, 0);
  padding: 0;
  height: 100%;
}
.list-entry img{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.list-entry-content-container {
  padding: 0 40px;
}
.list-entry-content-container a {
  color: black;
  font-style: normal;
  font-weight: bolder;
}
.list-entry-content-container a:hover {
  text-decoration: none;
}
.list-entry-content-container p {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.footer {
  left: 0%;
  height: 30px;
  width: 100%;
  bottom: 0;
  border-radius: 0;
  background-color: rgb(59, 62, 60);
  display: block;
  z-index: 100;
  clear: both;
}
.footer a:hover{
  background-color: rgb(240, 95, 64) !important;
}
.signup {
  margin-top: 5%;
  position: absolute;;
}
.signup img {
  width: 28px;
}
.progressbar {
  background-color: #f3f3f3;
  border-radius: 10px;
  height: 12px;
  padding: 0;
}
.progressbar-fill {
  border-radius: 10px;
  background-color: rgb(240, 95, 64);
  height: 100%
}
