* {
  font-family: 'Roboto', sans-serif;
}
.fix {
  position: fixed;
}
.container {
  width: 100%;
  padding: 0;
}
.start_project_btn {
  top: 50%;
  width: 150px;
  left: 50%;
  margin-left: -75px;
  position: absolute;
}
.create_project{
  margin-top: 70px;
  margin-left: -250px;
  width: 500px;
  left: 50%;
  position: absolute;
}
.landing_page {
  height: 600px;
  background-color: rgb(160, 165, 170);
}
.project_entry {
  width: 25%;
  margin-left: 6.25%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  box-shadow: 0 2px 6px -2px rgba(22, 22, 22, 0.45);
}
.project_entry_info {
  background-color: rgb(250, 250, 250);
  padding: 10px;
}
.project_miniview {
  padding: 32px 15px;
}
.project-submission-container {
  margin-top: 50px;
  padding: 15px;
}
.project-submission-title {
  text-align: center;
  margin-bottom: 15px;
}
.project-submission-main {
  padding: 15px;
  height: 100%;
}
.project-submission-entry {
  width: 95%;
  padding: 15px 0;
  height: 64px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: rgba(238, 238, 238, 0.5);
}
.project-submission-entry.file-upload {
  height: 425px;
}
.project-image-picker-box {
  border-style: dashed;
  border-radius: 5px;
  border-color: rgba(59, 62, 60, 0.8);
  text-align: center;
}
.project-image-picker-box.image-uploaded {
  border: 0px;
  cursor: pointer;
}
.project-image-picker-box img {
  width: 100%;
}
.project-image-picker {
  outline: none;
  width: 100%;
  display: block;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}
.project-image-picker:focus {
  outline: none;
}
.project-submission-side {
  padding: 15px;
  height: 1600px;
  background-color: grey;
}
.thumbnails {
  text-align: center;
  cursor: pointer;
}
.thumbnails:before {
  width: 100%;
  display: block;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
}
.thumbnails img {
  width: 100%;
  height: 100%;
}
.project-page {
  margin-top: 60px;
}
.project-content.left {
  width: 15%;
}
.left .user-info {
  height: 120px;
  padding: 10px;
  display: block;
  clear: both;
}
.user-info .avatar {
  margin: 5px 0;
  border-radius: 50%;
}
.user-info span {
  display: block;
}
.user-info.text {
  position: relative;
}
.project-content.mid {
  width: 60%
}
.project-content.mid img {
  width: 100%;
  height: 100%;
}
.project-content.right {
  background-color: rgb(250, 250, 250);
}
.footer {
  left: 0%;
  height: 30px;
  width: 100%;
  bottom: 0;
  border-radius: 0;
  background-color: rgb(59, 62, 60);
  display: block;
  z-index: 100;
  clear: both;
}
.footer a:hover{
  background-color: rgb(205, 82, 0) !important;
}
.signup {
  margin-top: 5%;
  position: absolute;;
}
.signup img {
  width: 28px;
}
.login_container {
  margin-top: 60px;
  width: 400px;
  height: auto;
  left: 50%;
  margin-left: -200px;
  position: relative;
}
#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,0.8) !important;
}
#login-dp .help-block{
  font-size:12px
}
#login-dp .bottom{
  background-color:rgba(255,255,255,0.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}
#login-dp .social-buttons{
  margin:12px 0
}
#login-dp .social-buttons a{
  width: 49%;
}
#login-dp .form-group {
  margin-bottom: 10px;
}
.btn-fb{
  margin-right: 2%;
  color: #fff;
  background-color:#3b5998;
}
.btn-fb:hover{
  color: #fff;
  background-color:#496ebc
}
.btn-google{
  color: #fff;
  background-color:rgb(222, 74, 50);
}
.btn-google:hover{
  color: #fff;
  background-color:rgb(240, 70, 55);
}
.btn-tw{
  color: #fff;
  background-color:#55acee;
}
.btn-tw:hover{
  color: #fff;
  background-color:#59b5fa;
}
@media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
  #login-dp .bottom{
      background-color: inherit;
      border-top:0 none;
  }
}
#login_dropdown {
  background-color: rgb(59, 62, 60) !important;
}
#nav_signup_btn {
  background-color: rgb(59, 62, 60) !important;
}
