<!doctype html>
<html>
<head>
    <title>Tech Starter</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
      body {
        background-color: rgb(59, 62, 60);
      }
      .footer a:hover{
        background-color: rgb(205, 82, 0) !important;
      }
    </style>
</head>
<body>
<div class="container">
