body {
  background-color: rgb(59, 62, 60);
}

.header a {
  background-color: rgb(59, 62, 60) !important;
}

.main {
  margin-top: 50px;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 1650px;
  background-color: rgb(193, 193, 193);
  border-radius: 0;
  overflow-y: : scroll
}

.footer {
  position: absolute;
  left: 0%;
  height: 30px;
  width: 100%;
  bottom: 0;
  border-radius: 0;
  background-color: rgb(59, 62, 60);
  display: block;
  position: fixed;
  z-index: 100;
  clear: both;
}

.footer a:hover{
  background-color: rgb(205, 82, 0) !important;
}

/*login*/
@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}

.omb_socialButtons {
  text-align: center;
}

.omb_login .omb_socialButtons a {
	color: white;
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;
}

.social_login_button {
  width: 20%;
  display: inline-block;
  margin-right: 15px;
}

.social_login_button:last-child {
  margin-right: 0px;
}

.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: rgb(0, 119, 181);}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
  color: red;
}


@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}
}
